# Virtual Environment
venv/

# Python cache
__pycache__/
*.pyc
*.pyo

# Environment variables
.env
.env.example

# Local database
db.sqlite3

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Media & static
media/
staticfiles/

# Git
.git/
.gitignore

# Docker
docker-compose.yml
Dockerfile
.dockerignore

# Project files
schema.yml
inventra.dot
structure.txt
*.md
